<div class="bmi-calculator">
    <h2>BMI Calculator</h2>
    
    <form [formGroup]="bmiForm" (ngSubmit)="calculateBMI()">
        <mat-form-field appearance="fill">
            <mat-label>Weight (kg):</mat-label>
            <input matInput type="number" formControlName="weight">
            <mat-error *ngIf="bmiForm.get('weight')?.errors?.['required']">Weight is required</mat-error>
            <mat-error *ngIf="bmiForm.get('weight')?.errors?.['min']">Weight cannot be negative</mat-error>
        </mat-form-field>
          
        <mat-form-field appearance="fill">
          <mat-label>Height (cm):</mat-label>
          <input matInput type="number" formControlName="height">
          <mat-error *ngIf="bmiForm.get('height')?.errors?.['required']">Height is required</mat-error>
          <mat-error *ngIf="bmiForm.get('height')?.errors?.['min']">Height cannot be negative</mat-error>
        </mat-form-field>
          
        <button mat-raised-button color="primary" type="submit" [disabled]="bmiForm.invalid">Calculate BMI</button>
    </form> 
        
    <div *ngIf="bmi" class="mat-card result" [@fadeInOut]>
      <h4>Your BMI is: {{ bmi | number:'1.2-2' }}</h4>
      <p>Your result indicates {{bmiInterpretation}}</p>
      <i class="fas fa-{{ weatherIcon }}"></i>
    </div>
</div>