<div class="bmi-calculator">
    <h2>BMI Calculator</h2>
    
    <form [formGroup]="bmiForm" (ngSubmit)="calculateBMI()">
        <div class="form-group">
            <label for="weight">Weight (kg):</label>
            <input type="number" class="form-control" id="weight" formControlName="weight">
            <div *ngIf="bmiForm.get('weight')?.invalid && (bmiForm.get('weight')?.dirty || bmiForm.get('weight')?.touched)">
              <div *ngIf="bmiForm.get('weight')?.errors?.['required']" class="error-message">Weight is required</div>
              <div *ngIf="bmiForm.get('weight')?.errors?.['min']" class="error-message">Weight cannot be negative</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="height">Height (cm):</label>
            <input type="number" class="form-control" id="height" formControlName="height">
            <div *ngIf="bmiForm.get('height')?.invalid && (bmiForm.get('height')?.dirty || bmiForm.get('height')?.touched)">
              <div *ngIf="bmiForm.get('height')?.errors?.['required']" class="error-message">Height is required</div>
              <div *ngIf="bmiForm.get('height')?.errors?.['min']" class="error-message">Height cannot be negative</div>
            </div>
          </div>
          
      
        <button type="submit" [disabled]="bmiForm.invalid">Calculate BMI</button>
      
        <div *ngIf="bmiInterpretation" class="result">
          <h4>Your BMI is: {{ bmi | number:'1.2-2' }}</h4>
          <p>{{bmiInterpretation}}</p>
          <i class="fas fa-{{ weatherIcon }}"></i>
        </div>
    </form>
</div>